<div class="monitoring">
  <mat-grid-list cols="1" rowHeight="3:1">
    <mat-grid-tile>
        <app-capteur-temperature [temperature]="'temperatureEntreeEau'"></app-capteur-temperature>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-capteur-temperature [temperature]="'temperatureSortieEau'"></app-capteur-temperature>
    </mat-grid-tile>
    <mat-grid-tile>
        <app-capteur-temperature [temperature]="'temperatureAir'"></app-capteur-temperature>
    </mat-grid-tile>
  </mat-grid-list>
</div>
