.monitoring {
  .statut-pompes {
    display: flex;
    justify-content: space-evenly;
    padding: 8px;
  }


  app-capteur-temperature {
    flex: 1;
    height: 100%;
  }

  .etat-pompe {
    height: 30px;
  }

}
