.conteneur-etat-pompe {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-evenly;

  .pompe {
    background-image: url('src/assets/icones/pompe-inactive.png');
    background-size: cover;
    width: 25px;
    height: 25px;

    &.active {
      background-image: url('src/assets/icones/pompe-active.png');
      animation: spin 3s infinite;
      animation-timing-function: linear;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
